* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-size: 6vmin;
    padding: 2vmin;
}

.container {
    display: grid;
    width: 40%;
    margin: 0 60vh;
    padding: 3vmin;
    align-items: center;
    justify-content: center;
    gap: 8vmin;
    background-color: black;
    margin-top: 8vmin;
    border-radius: 15px;

}

.display_name {
    display: inline;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 3vmin;
    border-radius: 20px;
    font-size: 4.5vmin;
    line-height: 5vmin;
}

span {
    color: rgb(0, 204, 255);
    font-weight: 700;
}

.image {
    text-align: center;
}

.getname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.submit {
    padding: 1vmin;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    background-color: #ffffff;
    color: black;
}





@media(max-width:975px){

    .container{
    width: 95%;
    margin: 10vh 1vh;
    padding: 6vh 0vh;
    border-radius: 10px;
    }

    .avatar {
        height: 5vh;
    }

    .display_name {
        font-size: 20px;
    }

}
